<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-center-desktop has-text-center-tablet has-text-center-fullhd has-text-center-widescreen">
                    <p>{{site.about}}</p>
                    <br>
                    <div class="container columns is-centered">
                        <div class="column">
                            {% include bmc-button.html %}
                        </div>
                        <div class="column">
                            <a class="ml-onclick-form" href="javascript:void(0)" onclick="ml('show', '97c8ea', true)">
                                <button class="listserv-button">Join the Newsletter!</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>