<head>
  {% include meta.html %}
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/css/style.css">
  <link rel="stylesheet" href="https://assets.mlcdn.com/fonts.css?version=1739956">
  <script src="https://kit.fontawesome.com/6a97161b76.js" crossorigin="anonymous"></script>
  <link
    rel="shortcut icon"
    href="{% if site.favicon-url %}{{site.favicon-url | absolute_url }}{% endif %}"
    type="image/x-icon">
  <script>
    (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
    .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
    n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
    (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
    ml('account', '1346851');
  </script>
</head>