---
layout: compress
---

<!DOCTYPE html>
<html>
  {% include head.html %}

    <body>
    {% include navbar.html %}
    {% include showcase.html %}
  {% include about.html %}
    {% comment %} {% include contact.html %} {% endcomment %}
    <!-- Footer begins here -->
    {% include footer.html %}
  </body>
  <script>
    var navItems = document.getElementsByClassName('navbar-item');
    var heroes = document.getElementsByClassName('hero');
    const viewOffset = 200; 
      
    window.addEventListener("scroll", function (event) {
      var scroll = this.scrollY;
      var position = window.pageYOffset;
      
      for (var i = 0; i < navItems.length; i++) {
        navItems[i].classList.remove('is-active');
      }
      
      for (var i = 0; i < heroes.length; i++) {
          var sectionTop = heroes[i].offsetTop-viewOffset;
          var sectionBottom = heroes[i].offsetTop + heroes[i].offsetHeight-viewOffset;
      
          if (scroll >= sectionTop && scroll < sectionBottom) {
            navItems[i+1].classList.add('is-active');
          }
      }
      // console.log('---- SCROLLLLED! ----');
    });
  </script>

  {% comment %} MAILERLITE FORM SUBMIT {% endcomment %}
  <script>
    function ml_webform_success_22955026() {
      var $ = ml_jQuery || jQuery;
      $('.ml-subscribe-form-22955026 .row-success').show();
      $('.ml-subscribe-form-22955026 .row-form').hide();
    }
  </script>
  <script src="https://groot.mailerlite.com/js/w/webforms.min.js?v176e10baa5e7ed80d35ae235be3d5024" type="text/javascript"></script>
  <script>
    fetch("https://assets.mailerlite.com/jsonp/1346851/forms/146980617314109280/takel")
  </script>

</html>